{% load static %}
<link rel="stylesheet" href="{% static 'portal/styles/predictor.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch Predictor</title>
    <link rel="stylesheet" href="predictor.css">
</head>
<body>
    <!-- Navigation bar -->
    <header class="header">
        <!-- Logo -->
        <a href="#" class="logo">Analytics</a>
        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <!-- Menu -->
        <nav class="nav">
            <ul class="menu">
                <li><a href="/portal/">Home</a></li>
                <li><a href="/portal/charts/" id="active">Charts</a> </li>
                <li><a href="/portal/predict/">Branch Predictor</a></li>
                <li><a href="/portal/contactus/">Contact</a> </li>
            </ul>
        </nav>
    </header>



    <!--Charts-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

     <canvas id="myChart" width="800" height="400"></canvas>

    <script>
      // Data from: https://data.giss.nasa.gov/gistemp/
      // Mean from: https://earthobservatory.nasa.gov/world-of-change/DecadalTemp

      window.addEventListener('load', setup);

      async function setup() {
        const ctx = document.getElementById('myChart').getContext('2d');
        const globalTemps = await getData();
        const myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: globalTemps.years,
            datasets: [
              {
                label: 'Temperature in °C',
                data: globalTemps.temps,
                fill: false,
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderWidth: 1
              }
            ]
          },
          options: {}
        });
      }

      async function getData() {
        // const response = await fetch('testdata.csv');
        const response = await fetch('{% static 'portal/data/2022_all_6.csv' %}');
        console.log(response);
        const data = await response.text();
        const years = [];
        const temps = [];
        const rows = data.split('\n').slice(1);
        rows.forEach(row => {
          const cols = row.split(',');
          years.push(cols[1]);
          temps.push(parseFloat(cols[7]));
        });
        console.log(temps);
        return { years, temps };
      }
    </script>

    
    
</body>
</html>