{% load static %}
<link rel="stylesheet" href="{% static 'portal/styles/predictor.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch Predictor</title>
    <link rel="stylesheet" href="predictor.css">
</head>
<body>
    <!-- Navigation bar -->
    <header class="header">
        <!-- Logo -->
        <a href="#" class="logo">Analytics</a>
        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <!-- Menu -->
        <nav class="nav">
            <ul class="menu">
                <li><a href="/portal/">Home</a></li>
                <li><a href="/portal/charts/">Charts</a> </li>
                <li><a href="/portal/predict/" id="active">Branch Predictor</a></li>
                <li><a href="/portal/contactus/">Contact</a> </li>
            </ul>
        </nav>
    </header>

    
    
</body>
</html>