{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table id = 'csvtable'>

    </table>
    <script>
        async  function getTable(){
        try{
           const response = await  fetch('{% static 'portal/data/df.csv' %}');
           const data = await response.text();
           
           console.log(data);
           const rows = data.split('\n');
           const table =document.getElementById('csvtable');
           table.style.display = 'table';

           table.innerHTML = '';

           rows.forEach(row => {
            const cells = row.split(',');
            const tableRow = document.createElement('tr');
            

            cells.forEach(cell => {
                const tableCell = document.createElement('td');
                tableCell.textContent = cell;
                tableRow.appendChild(tableCell);
            });

            table.appendChild(tableRow);
           });
          } catch (error) {
            console.log(error);
          }
        }
        const loadButton = document.getElementById('loadButton');
        loadButton.addEventListener('click', getTable);
    </script>

    <form method = 'GET' action = {% url 'predict' %}
      <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="">Select</option>
            {% for value in category_values %}
                <option value="{{ value }}" {% if value == request.GET.category %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="">Select</option>
            {% for value in gender_values %}
                <option value="{{ value }}" {% if value == request.GET.gender %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="institute">Institute:</label>
        <select id="institute" name="institute">
            <option value="">Select</option>
            {% for value in institute_values %}
                <option value="{{ value }}" {% if value == request.GET.institute %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" id = "loadButton" >Apply Filters</button> 
      </form>

</body>
</html>