{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'portal/styles/predictor.css' %}">

</head>
<body>
    <div class="header">
        <h1>JEE Analytics</h1>
        <span class="menu-toggle">☰</span>
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/portal/charts">Charts</a></li>
            <li ><a href="/portal/predict">Branch Predictor</a></li>
            <li id="last"><a href="/portal/contact">Contact Us</a></li>
        </ul>
    </div>
    <section class="hero">
        <form method = 'GET' action = {% url 'predict' %}>
            <div class="container-year">
                <div class="dropdown">
                <div class="dropdown-box">
                    <label for="year" class="name">Year :</label>
                    <input type="text" placeholder = "All" class="selected-option" readonly />
                    <span class="arrow">&#9660;</span>
                </div>
                <div class="dropdown-menu">
                    <select id="year" name="year">
                        <a href="#" class="selected">All</a>
                        {% for year in year_values %}
                        <option value="{{year}}" {% if value == request.GET.year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                </div>
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="">Select</option>
            {% for value in category_values %}
                <option value="{{ value }}" {% if value == request.GET.category %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="">Select</option>
            {% for value in gender_values %}
                <option value="{{ value }}" {% if value == request.GET.gender %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="institute">Institute:</label>
        <select id="institute" name="institute">
            <option value="">Select</option>
            {% for value in institute_values %}
                <option value="{{ value }}" {% if value == request.GET.institute %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="year">Year:</label>
        <select id="year" name="year" class="dropdown">
            <option value="">Select</option>
            {% for value in year_values %}
                <option value="{{ value }}" {% if value == request.GET.year %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="quota">Quota:</label>
        <select id="quota" name="quota">
            <option value="">Select</option>
            {% for value in quota_values %}
                <option value="{{ value }}" {% if value == request.GET.quota %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="program">Program:</label>
        <select id="program" name="program">
            <option value="">Select</option>
            {% for value in program_values %}
                <option value="{{ value }}" {% if value == request.GET.program %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" >Apply Filters</button> 
      </form>
    </section>
    
      <button id="lb" onclick="getTable()">View</button>
    
    <div class="table-container">
        <table id="data-table">
          
        </table>
    
        <script>
            async  function getTable(){
            try{
               const response = await  fetch('{% static 'portal/data/df.csv' %}');
               const data = await response.text();
               
               const rows = data.split('\n');
               const table =document.getElementById('data-table');
               table.style.display = 'table';
     
               table.innerHTML = '';
     
               rows.forEach(row => {
                const cells = row.split(',');
                const tableRow = document.createElement('tr');
                
     
                cells.forEach(cell => {
                    const tableCell = document.createElement('td');
                    tableCell.textContent = cell;
                    tableRow.appendChild(tableCell);
                });
     
                table.appendChild(tableRow);
               });
              } catch (error) {
                console.log(error);
              }
            }
     
            const buton = document.getElementById('lb')
        </script>
     
        <div class="pagination">
          <button id="btn-first" class="pagination-button">&lt;&lt;</button>
          <button id="btn-prev" class="pagination-button">&lt;</button>
          <div id="pagination-numbers"></div>
          <button id="btn-next" class="pagination-button">&gt;</button>
          <button id="btn-last" class="pagination-button">&gt;&gt;</button>
        </div>
      </div>
    
</body>
</html>